html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    background: #fff;
    font-family: open sans, sans-serif;
    /* font-size: 13px; */
    outline: none;
}

#page {
    width: 100%;
    min-height: 500px;
    position: relative;
    background: url(../images/register-bg.jpg) center top / cover no-repeat fixed;
}

#page .site-wrapper {
    padding: 0px;
    background: transparent;
    margin: 0px;
}

#page .bg-o {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,0.8);
}

/* #page .panel {
    position: relative;
    z-index: 2;
    margin: 5% auto 0;
    width: 90%;
    max-width: 400px;
    padding: 0;
} */

.form-container {
    background-color: #EBEBEB;
    padding: 30px;
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}


.placeholder {
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #BABABA;
    border-radius: 3px;
    outline: #000000;
}

.placeholder1 {
    padding: 7px 10px;
    width: 40%;
    border: 1px solid #BABABA;
    border-radius: 3px;
    outline: #000000;
}

.register {
    width: 100%;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    border: 1px solid rgb(247, 151, 28);
    background: rgb(247, 151, 28);
    font-weight: 700;
    border-radius: 5px;
    border-bottom: 3px solid #000000;
    outline: none;
}

.listprop {
    width: 20%;
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    border: 1px solid rgb(247, 151, 28);
    background: rgb(247, 151, 28);
    font-weight: 700;
    border-radius: 5px;
    border-bottom: 3px solid #000000;
    outline: none;
}

.listprop:hover {
    background: #fff;
    color: rgb(247, 151, 28);
    outline: none;
}

.register:hover {
    background: #fff;
    color: rgb(247, 151, 28);
    outline: none;
}

#page .already-logged-in {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    background: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    position: relative;
    z-index: 2;
    padding: 30px;
    color: gray;
}

#page .already-logged-in a {
    color: rgb(247, 151, 28);
    display: inline-block;
    padding-left: 5px;
    text-decoration: none;
}

.my-alert {
    width: 100%;
    padding: 25px;
    z-index: 9;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}

.site-wrapper {
    width: 100%;
    background: #fff;
    padding: 20px 0;
}

.small-banner {
    background: url("../images/profile-banner.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
    min-height: 240px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.user-profile .small-banner .overlay {
    height: 300px;
}

.small-banner .overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.8));
    background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    color: #fff;
    height: 240px;
    z-index: 1;
}

.user-edit .small-banner h1 {
    margin-left: 0;
    margin-top: 50px;
    text-align: center;
}

.user-profile .small-banner h1 {
    position: relative;
    top: 90px;
    text-align: center;
    width: 100%;
    font-weight: 550;
}

.small-banner h1 {
    text-shadow: 0 -1px 0 #000;
    font-size: 2.2em;
    z-index: 2;
}

.user-profile .small-banner p {
    position: relative;
    top: 85px;
    text-align: center;
    width: 100%;
}

.small-banner p {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.0em;
    text-shadow: 0 -1px 0 #000;
    z-index: 2;    
}

.breadcrumb-wrap {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.breadcrumbs {
    width: auto;
    margin: 7px 0;
    background: #fff;
    border: none;
    /* display: block;
    padding: 0.5625rem 0.875rem 0.5625rem;
    overflow: hidden;
    margin-left: 0;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    background-color: #f4f4f4;
    border-color: gainsboro;
    border-radius: 3px; */
}

.breadcrumbs>* {
    margin: 0;
    float: left;
    font-size: 0.6875rem;
    line-height: 0.6875rem;
    text-transform: uppercase;
}

.user-edit .user-content {
    background: #ebebeb;
    padding: 15px 0;
    /* margin-bottom: 20px; */
}

.user-edit .form-wrap {
    margin: 20px auto;
}

.form-wrap {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    padding: 60px;
    position: relative;
}

.step-tag {
    font-size: 19px;
    font-weight: bold;
    color: #777;
    text-align: center;
}

.required-tag {
    font-size: 13px;
}

.form-wrap fieldset {
    padding: 0 0 20px;
    border: none;
    margin: 0;
}

.listproperty {
    padding: 10px;
}

.select-property {
    padding: 10px;
    width: 40%;
    outline: none;
}